@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Crimson Text", serif;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  width: 98.9vw;
  height: 100vh;
  display: grid;
  color: #4A2B10;
  background: #FCF5E7;
  grid-template-rows: 2fr 100px 622px 5fr 200px;
}
@media (max-width: 550px) {
  .container {
    width: 95vw;
  }
}

header {
  width: 100%;
  height: 100%;
  background: #FCF5E7;
}
@media (max-width: 550px) {
  header {
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 1024px) {
  header {
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.1);
  }
}
header .row {
  display: flex;
  justify-content: flex-end;
  background: #4A2B10;
  padding: 1rem 15rem 1rem 1rem;
}
@media (max-width: 550px) {
  header .row {
    display: none;
  }
}
header .row a {
  color: #fff;
}
header .baixo {
  display: flex;
  padding: 1rem;
}
header .baixo .left {
  width: 55%;
  height: 100%;
  display: flex;
}
@media (max-width: 550px) {
  header .baixo .left {
    width: 70%;
  }
}
@media (max-width: 1024px) {
  header .baixo .left {
    width: 70%;
  }
}
header .baixo .left .logo-wb {
  padding-left: 8rem;
  padding-top: 2rem;
}
@media (max-width: 550px) {
  header .baixo .left .logo-wb {
    display: none;
  }
}
@media (max-width: 1024px) {
  header .baixo .left .logo-wb {
    display: none;
  }
}
header .baixo .left .menu {
  width: 50%;
  display: none;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
  cursor: pointer;
}
@media (max-width: 550px) {
  header .baixo .left .menu {
    display: flex;
    padding-top: 3rem;
    padding-left: 1rem;
  }
}
@media (max-width: 1024px) {
  header .baixo .left .menu {
    display: flex;
    padding-top: 3rem;
  }
}
header .baixo .left .center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
@media (max-width: 550px) {
  header .baixo .left .center {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  header .baixo .left .center {
    width: 50%;
  }
}
header .baixo .left .center img {
  cursor: pointer;
}
header .baixo .rigth {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5rem;
  padding-top: 3rem;
  gap: 2rem;
}
@media (max-width: 550px) {
  header .baixo .rigth {
    width: 30%;
    padding-right: 2rem;
    padding-top: 3rem;
  }
}
@media (max-width: 1024px) {
  header .baixo .rigth {
    gap: 2rem;
    font-size: 2rem;
  }
}
header .baixo .rigth .carrinho {
  cursor: pointer;
}
header .baixo .rigth i {
  font-size: 2.3rem;
  color: #4A2B10;
  cursor: pointer;
}
header .baixo .rigth .search {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 550px) {
  header .baixo .rigth .search {
    display: none;
  }
}
header .baixo .rigth .search input {
  display: none;
  outline: none;
}
@media (max-width: 1024px) {
  header .baixo .rigth .search input {
    display: none;
  }
}
header .baixo .rigth .search span {
  color: #4A2B10;
  padding-left: 0.3rem;
  cursor: pointer;
}
@media (max-width: 1024px) {
  header .baixo .rigth .search span {
    display: none;
  }
}
header .baixo .rigth .desejos {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 550px) {
  header .baixo .rigth .desejos {
    display: none;
  }
}
header .baixo .rigth .desejos a {
  color: #4A2B10;
  padding-left: 0.3rem;
}
@media (max-width: 1024px) {
  header .baixo .rigth .desejos a {
    display: none;
  }
}

nav {
  padding-bottom: 2rem;
  width: 100%;
  height: 100%;
  background: #FCF5E7;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 5rem;
}
@media (max-width: 550px) {
  nav {
    display: none;
  }
}
@media (max-width: 1024px) {
  nav {
    display: none;
  }
}
nav img {
  width: 20%;
}
nav ul {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 3rem;
  font-weight: 900;
  font-size: 1.7rem;
}
nav ul i {
  color: #a85;
  font-size: 1rem;
  padding-left: 2rem;
}
nav .img-rotate {
  transform: rotate(180deg);
}

aside {
  width: 100%;
  height: 100%;
}
@media (max-width: 550px) {
  aside {
    height: 40rem;
  }
}
@media (max-width: 1024px) {
  aside {
    height: 40rem;
  }
}
aside .banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
@media (max-width: 550px) {
  aside .banner {
    overflow: hidden;
  }
}
aside .banner .bordas {
  position: absolute;
  width: 90%;
  height: 3.2rem;
  border: 0.1rem solid #fff;
  border-bottom: 0;
  top: 2rem;
  left: 8rem;
}
@media (max-width: 1024px) {
  aside .banner .bordas {
    width: 74%;
    left: 10rem;
  }
}
@media (max-width: 550px) {
  aside .banner .bordas {
    top: 2rem;
    width: 60%;
    left: 7rem;
  }
}
aside .banner .bordas::before {
  content: "";
  right: -5rem;
  top: 3rem;
  height: 50rem;
  width: 5rem;
  position: absolute;
  border: 0.1rem solid #fff;
  border-left: 0;
}
@media (max-width: 1024px) {
  aside .banner .bordas::before {
    height: 27.9rem;
  }
}
aside .banner .bordas::after {
  content: "";
  left: -5rem;
  top: 3rem;
  height: 50rem;
  width: 5rem;
  position: absolute;
  border: 0.1rem solid #fff;
  border-right: 0;
}
@media (max-width: 1024px) {
  aside .banner .bordas::after {
    height: 27.9rem;
  }
}
aside .banner .bordas .icon {
  position: absolute;
  left: -4rem;
  top: -0.6rem;
}
aside .banner .bordas .icon2 {
  position: absolute;
  right: -4rem;
  top: -0.6rem;
  transform: rotate(90deg);
}
aside .banner .bordas2 {
  position: absolute;
  width: 90%;
  height: 3.2rem;
  border: 0.1rem solid #fff;
  border-top: 0;
  bottom: 3.5rem;
  left: 8rem;
}
@media (max-width: 1024px) {
  aside .banner .bordas2 {
    width: 74%;
    left: 10rem;
  }
}
@media (max-width: 550px) {
  aside .banner .bordas2 {
    width: 60%;
    left: 7rem;
    bottom: 1rem;
  }
}
aside .banner .bordas2 .icon3 {
  position: absolute;
  left: -4rem;
  bottom: -0.6rem;
  transform: rotate(280deg);
}
@media (max-width: 550px) {
  aside .banner .bordas2 .icon3 {
    bottom: 1rem;
  }
}
aside .banner .bordas2 .icon4 {
  position: absolute;
  right: -4rem;
  bottom: -0.6rem;
  transform: rotate(180deg);
}
@media (max-width: 550px) {
  aside .banner .bordas2 .icon4 {
    bottom: 1rem;
  }
}
aside .banner .banner1 {
  width: 100%;
  height: auto;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 40%, #000 100%);
  animation: animacaoBanner1 5s linear infinite;
  transform-origin: top left;
}
@media (max-width: 550px) {
  aside .banner .banner1 {
    height: auto;
    width: 200%;
    transform: translateX(-50%);
  }
}
@media (max-width: 1024px) {
  aside .banner .banner1 {
    height: 40rem;
  }
}

main {
  width: 100%;
  height: 100%;
  background: gray;
}
@media (max-width: 550px) {
  main {
    height: 100vh;
  }
}
main .principais {
  background: #FCF5E7;
  width: 100%;
  height: 45rem;
  display: flex;
  justify-content: flex-start;
  padding-left: 11rem;
  padding-top: 5rem;
  gap: 3rem;
}
@media (max-width: 550px) {
  main .principais {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0 0;
    gap: 1rem;
  }
}
main .principais .box, main .principais .box2, main .principais .box3, main .principais .box4 {
  width: 21.3%;
  height: 75%;
  background: #000;
  position: relative;
  cursor: pointer;
}
@media (max-width: 550px) {
  main .principais .box, main .principais .box2, main .principais .box3, main .principais .box4 {
    width: 17rem;
    height: 17rem;
    display: flex;
    flex-wrap: wrap;
    top: 30rem;
    position: relative;
  }
}
@media (max-width: 370px) {
  main .principais .box, main .principais .box2, main .principais .box3, main .principais .box4 {
    height: 15rem;
    width: 12rem;
  }
}
main .principais .box .bordas3, main .principais .box2 .bordas3, main .principais .box3 .bordas3, main .principais .box4 .bordas3 {
  position: absolute;
  width: 80%;
  height: 2rem;
  border: 0.1rem solid #fff;
  border-bottom: 0;
  top: 1rem;
  left: 3rem;
}
@media (max-width: 1024px) {
  main .principais .box .bordas3, main .principais .box2 .bordas3, main .principais .box3 .bordas3, main .principais .box4 .bordas3 {
    width: 74%;
    left: 10rem;
  }
}
@media (max-width: 550px) {
  main .principais .box .bordas3, main .principais .box2 .bordas3, main .principais .box3 .bordas3, main .principais .box4 .bordas3 {
    left: 2rem;
    width: 78%;
  }
}
@media (max-width: 370px) {
  main .principais .box .bordas3, main .principais .box2 .bordas3, main .principais .box3 .bordas3, main .principais .box4 .bordas3 {
    left: 1.5rem;
    width: 79%;
    height: 1rem;
  }
}
main .principais .box .bordas3::before, main .principais .box2 .bordas3::before, main .principais .box3 .bordas3::before, main .principais .box4 .bordas3::before {
  content: "";
  right: -2.1rem;
  top: 1.9rem;
  height: 23rem;
  width: 2rem;
  position: absolute;
  border: 0.1rem solid #fff;
  border-left: 0;
}
@media (max-width: 1024px) {
  main .principais .box .bordas3::before, main .principais .box2 .bordas3::before, main .principais .box3 .bordas3::before, main .principais .box4 .bordas3::before {
    height: 27.9rem;
  }
}
@media (max-width: 550px) {
  main .principais .box .bordas3::before, main .principais .box2 .bordas3::before, main .principais .box3 .bordas3::before, main .principais .box4 .bordas3::before {
    height: 11.1rem;
    width: 7%;
    right: -1rem;
    top: 1.9rem;
  }
}
@media (max-width: 370px) {
  main .principais .box .bordas3::before, main .principais .box2 .bordas3::before, main .principais .box3 .bordas3::before, main .principais .box4 .bordas3::before {
    right: -0.5rem;
    top: 0.9rem;
    width: 5.1%;
  }
}
main .principais .box .bordas3::after, main .principais .box2 .bordas3::after, main .principais .box3 .bordas3::after, main .principais .box4 .bordas3::after {
  content: "";
  left: -2.1rem;
  top: 1.9rem;
  height: 23rem;
  width: 2rem;
  position: absolute;
  border: 0.1rem solid #fff;
  border-right: 0;
}
@media (max-width: 1024px) {
  main .principais .box .bordas3::after, main .principais .box2 .bordas3::after, main .principais .box3 .bordas3::after, main .principais .box4 .bordas3::after {
    height: 27.9rem;
  }
}
@media (max-width: 550px) {
  main .principais .box .bordas3::after, main .principais .box2 .bordas3::after, main .principais .box3 .bordas3::after, main .principais .box4 .bordas3::after {
    height: 11.1rem;
    width: 7%;
    left: -1rem;
    top: 1.9rem;
  }
}
@media (max-width: 370px) {
  main .principais .box .bordas3::after, main .principais .box2 .bordas3::after, main .principais .box3 .bordas3::after, main .principais .box4 .bordas3::after {
    top: 0.9rem;
    width: 8%;
    left: -1rem;
  }
}
main .principais .box .bordas3 .mini-bordas, main .principais .box2 .bordas3 .mini-bordas, main .principais .box3 .bordas3 .mini-bordas, main .principais .box4 .bordas3 .mini-bordas {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1rem solid #fcf5e7;
  top: 1.2rem;
  left: -0.9rem;
}
@media (max-width: 550px) {
  main .principais .box .bordas3 .mini-bordas, main .principais .box2 .bordas3 .mini-bordas, main .principais .box3 .bordas3 .mini-bordas, main .principais .box4 .bordas3 .mini-bordas {
    top: 1.1rem;
    left: -0.7rem;
  }
}
@media (max-width: 370px) {
  main .principais .box .bordas3 .mini-bordas, main .principais .box2 .bordas3 .mini-bordas, main .principais .box3 .bordas3 .mini-bordas, main .principais .box4 .bordas3 .mini-bordas {
    width: 1.3rem;
    height: 1.3rem;
    top: 0.2rem;
  }
}
main .principais .box .bordas3 .mini-bordas::after, main .principais .box2 .bordas3 .mini-bordas::after, main .principais .box3 .bordas3 .mini-bordas::after, main .principais .box4 .bordas3 .mini-bordas::after {
  content: "";
  position: absolute;
  border: 0.1rem solid #fcf5e7;
  width: 1.4rem;
  height: 1.4rem;
  left: 24rem;
  top: -0.1rem;
}
@media (max-width: 550px) {
  main .principais .box .bordas3 .mini-bordas::after, main .principais .box2 .bordas3 .mini-bordas::after, main .principais .box3 .bordas3 .mini-bordas::after, main .principais .box4 .bordas3 .mini-bordas::after {
    left: 13rem;
  }
}
@media (max-width: 370px) {
  main .principais .box .bordas3 .mini-bordas::after, main .principais .box2 .bordas3 .mini-bordas::after, main .principais .box3 .bordas3 .mini-bordas::after, main .principais .box4 .bordas3 .mini-bordas::after {
    left: 9.3rem;
    top: 0rem;
    width: 1.1rem;
    height: 1.1rem;
  }
}
main .principais .box .bordas3 .mini-bordas:nth-child(2), main .principais .box2 .bordas3 .mini-bordas:nth-child(2), main .principais .box3 .bordas3 .mini-bordas:nth-child(2), main .principais .box4 .bordas3 .mini-bordas:nth-child(2) {
  top: 24.4rem;
  left: -0.9rem;
}
@media (max-width: 550px) {
  main .principais .box .bordas3 .mini-bordas:nth-child(2), main .principais .box2 .bordas3 .mini-bordas:nth-child(2), main .principais .box3 .bordas3 .mini-bordas:nth-child(2), main .principais .box4 .bordas3 .mini-bordas:nth-child(2) {
    left: 12.3rem;
    top: 12.5rem;
  }
}
@media (max-width: 370px) {
  main .principais .box .bordas3 .mini-bordas:nth-child(2), main .principais .box2 .bordas3 .mini-bordas:nth-child(2), main .principais .box3 .bordas3 .mini-bordas:nth-child(2), main .principais .box4 .bordas3 .mini-bordas:nth-child(2) {
    border: 0;
    top: 11.5rem;
    left: -0.7rem;
  }
}
@media (max-width: 550px) {
  main .principais .box .bordas3 .mini-bordas:nth-child(2)::after, main .principais .box2 .bordas3 .mini-bordas:nth-child(2)::after, main .principais .box3 .bordas3 .mini-bordas:nth-child(2)::after, main .principais .box4 .bordas3 .mini-bordas:nth-child(2)::after {
    border: 0.1rem solid #fcf5e7;
    left: -13rem;
    top: -0.1rem;
  }
}
main .principais .box img, main .principais .box2 img, main .principais .box3 img, main .principais .box4 img {
  width: 100%;
  height: 100%;
}
main .principais .box .bordas4, main .principais .box2 .bordas4, main .principais .box3 .bordas4, main .principais .box4 .bordas4 {
  position: absolute;
  width: 80%;
  height: 2rem;
  border: 0.1rem solid #fff;
  border-top: 0;
  bottom: 2rem;
  left: 3rem;
}
@media (max-width: 1024px) {
  main .principais .box .bordas4, main .principais .box2 .bordas4, main .principais .box3 .bordas4, main .principais .box4 .bordas4 {
    width: 74%;
    left: 10rem;
  }
}
@media (max-width: 550px) {
  main .principais .box .bordas4, main .principais .box2 .bordas4, main .principais .box3 .bordas4, main .principais .box4 .bordas4 {
    width: 78%;
    height: 1.8rem;
    left: 2rem;
    bottom: 1rem;
  }
}
@media (max-width: 550px) {
  main .principais .box .bordas4, main .principais .box2 .bordas4, main .principais .box3 .bordas4, main .principais .box4 .bordas4 {
    left: 1.4rem;
    width: 79%;
    height: 0.8rem;
  }
}
main .principais .box::after {
  content: "Wand Shop";
  position: absolute;
  color: #fcf5e7;
  text-shadow: 0 0 5px #000;
  bottom: 13.5rem;
  left: 11rem;
  line-height: 24px;
  font-weight: 900;
  font-size: 2rem;
}
@media (max-width: 550px) {
  main .principais .box::after {
    left: 3rem;
    bottom: 7rem;
  }
}
@media (max-width: 370px) {
  main .principais .box::after {
    bottom: 6rem;
    left: 1rem;
  }
}
main .principais .box2::after {
  content: "Trunk Station";
  position: absolute;
  color: #fcf5e7;
  text-shadow: 0 0 5px #000;
  bottom: 13.5rem;
  left: 9rem;
  line-height: 24px;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
}
@media (max-width: 550px) {
  main .principais .box2::after {
    left: 3rem;
    bottom: 7rem;
  }
}
@media (max-width: 370px) {
  main .principais .box2::after {
    bottom: 5rem;
    left: 1rem;
  }
}
main .principais .box3::after {
  content: "Clothing Collection";
  position: absolute;
  color: #fcf5e7;
  text-shadow: 0 0 5px #000;
  bottom: 13.5rem;
  left: 7rem;
  line-height: 24px;
  font-weight: 900;
  font-size: 2rem;
}
@media (max-width: 550px) {
  main .principais .box3::after {
    left: 5rem;
    bottom: 7rem;
  }
}
@media (max-width: 370px) {
  main .principais .box3::after {
    bottom: 5rem;
    left: 2rem;
  }
}
main .principais .box4::after {
  content: "Sweet Trolley";
  position: absolute;
  color: #fcf5e7;
  text-shadow: 0 0 5px #000;
  bottom: 13.5rem;
  left: 10rem;
  line-height: 24px;
  font-weight: 900;
  font-size: 2rem;
}
@media (max-width: 550px) {
  main .principais .box4::after {
    left: 3rem;
    bottom: 7rem;
  }
}
@media (max-width: 370px) {
  main .principais .box4::after {
    bottom: 5rem;
    left: 3rem;
  }
}

footer {
  width: 100%;
  height: 100%;
  background: forestgreen;
}

@keyframes animacaoBanner1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}/*# sourceMappingURL=style.css.map */